<div class="recipe">
<div class="recipe-top">
  <div class="recipe-top__left">


  <h4 class="recipe-title">{{model.name}}</h4>

  {{log model}}

    <section class="ingredients">
      <h5 class="ingredients-title"> Ingredients:</h5>
      <ul class="ingredients-list">
        {{#each model.recipeIngredients as |recipeIngredient|}}
          <li class="ingredients-list__item">
            - {{recipeIngredient.addbMeasure}}
          </li>
        {{/each}}
      </ul>
    </section>
    </div>

<div class="recipe-top__right">
  <div class="recipe-frame">
    <img class="recipe-frame__picture" src="{{model.photoUrl}}" alt="">
  </div>
</div>
</div>

<div class="recipe-bottom">
  <section class="recipe-instructions">
    <p class="recipe-instructions__text">
      {{model.recipe}}
    </p>
  </section>
</div>

<button class = "clicks"{{action 'saveFave'}}>addFavorite</button>
</div>
