<div class="app">
  {{#unless userIsOfAge}}
    {{#modal-dialog translucentOverlay=true overlay-class='age-conf-bg'}}
      <div class="modal-head">
        Age confirmation
      </div>
      <p>You must be 21 years of age or older to use this website.</p>
      <button class='waves-effect waves-light btn account__buttons--btn' {{action 'allowUserToEnter'}}>I'm over 21</button>
      <button class='waves-effect waves-light btn account__buttons--btn' {{action 'blockUserFromSite'}}>I'm under 21</button>
    {{/modal-dialog}}
  {{/unless}}
  <nav class="nav-pane">
    <div class="container">
      <div class="logo">
        {{#link-to 'index'}}
          <img src="http://www.placecage.com/200/100" alt="" class="logo-img">
        {{/link-to}}
      </div>
      <div class="nav-links">
        <div class="nav-links__link">
          {{#link-to 'index.featured'}}Featured{{/link-to}}
        </div>
        <div class="nav-links__link">
          {{#link-to 'index.browse'}}Browse{{/link-to}}
        </div>
        <div class="nav-links__link">
          {{#link-to 'index.cabinet'}}Cabinet{{/link-to}}
        </div>
      </div>
      <div class="account__buttons">
        <button class="waves-effect waves-light btn account__buttons--btn" {{action "toggleLoginModal"}}>Login</button>
        <button class="waves-effect waves-light btn account__buttons--btn" {{action "toggleRegisterModal"}}>Register</button>

      </div>

      <div class="site-info">
        <p class="copyright">Designed by James Ridley and Woody Evins</p>
        <p class="data-source">Data sourced from
          <a href="http://www.absolut.com/us/" class="absolout-link">Absolut</a>
        </p>
        <p class="made-with">
          Made using
          <a href="http://emberjs.com/" class="ember-link">Ember</a>
          and
          <a href="http://materializecss.com/" class="materialize-link">Materialize</a>
        </p>
        <p class="disclaimer">Please drink responsibly</p>
      </div>
    </div>

  </nav>

  <div class="display-pane">
    {{#if isRegisterModalVisible}}
      {{#modal-dialog translucentOverlay=true}}
        <div class="modal-head">
          <h3>Register</h3>
        </div>
        {{#simple-form onsubmit=(action 'register') as |registerValues|}}
          {{input value=registerValues.email placeholder='Email'}}
          {{input type='password' value=registerValues.password placeholder='Password'}}
          <div class="form-buttons">
            <button class="waves-effect waves-light btn" {{action "toggleRegisterModal"}}>Cancel</button>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
          </div>
        {{/simple-form}}
      {{/modal-dialog}}
    {{/if}}
    {{#if isLoginModalVisible}}
      {{#modal-dialog translucentOverlay=true}}
        <h3>Login</h3>
        {{#simple-form onsubmit=(action 'login') as |loginValues|}}
          {{input value=loginValues.email placeholder='Email'}}
          {{input type='password' value=loginValues.password placeholder='Password'}}
          <div class="form-buttons">
            <button class="waves-effect waves-light btn" {{action "toggleLoginModal"}}>Cancel</button>
            <button type="submit" class="waves-effect waves-light btn">Login</button>
          </div>
        {{/simple-form}}
      {{/modal-dialog}}
    {{/if}}
    {{outlet}}
  </div>
</div>
