<h2 class="page-title">CABINET</h2>
{{#list-filter query=query filter=(action 'filterByIngredient') as |filteredDrinks loading|}}
  <div class="row">
    {{!-- <div class="col s12">This div is 12-columns wide</div> --}}


    <div class="row {{if loading "row--loading"}}">
      {{#if loading}}
        <div class="loading-on-top">
          <div class="fa fa-fw fa-spin fa-glass fa-2x"></div>
        </div>
      {{/if}}
      <div class="ingredient-frame">
      {{#each filteredDrinks as |ingredient|}}
          <button class="clicks-1" {{action "addIngredient" ingredient}}>{{ingredient.name}}</button>
      {{else}}
          <p class="ingredient-frame">
            Please Search Again...
          </p>
      {{/each}}
    </div>
    </div>
  </div>
{{/list-filter}}

<div class="row">

    {{#each cabinet as |ingredient|}}
      <p class= "card">{{ingredient.name}}</p>
    {{/each}}

</div>
<div class="row">
  <button class="clicks bold" {{action "findByIngredient"}}> Whatcha' Making? </button>
</div>
  <div class="row">
    {{#each results as |drink|}}
      {{#link-to "index.recipe" drink class="drink-recipe-link" }}
        <div class="drink-frame">
          <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
          <p class="drink-frame__name">{{drink.name}}</p>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
