<h2 class="page-title">CABINET</h2>
{{#list-filter query=query filter=(action 'filterByIngredient') as |filteredDrinks loading|}}
  <div class="row">
    {{!-- <div class="col s12">This div is 12-columns wide</div> --}}


    <div class="row {{if loading "row--loading"}}">
      {{#if loading}}
        <div class="loading-on-top">
          <div class="fa fa-fw fa-spin fa-glass fa-2x"></div>
        </div>
      {{/if}}
      {{#each filteredDrinks as |ingredient|}}
        <div class="drink-frame">
          <button class="clicks" {{action "addIngredient" ingredient}}>{{ingredient.name}}</button>
        </div>
        {{else}}
          <p class="drink-frame">
            Please Search Again...
          </p>
      {{/each}}
    </div>

    <div class="results-list">

    </div>
  </div>


{{/list-filter}}
<div class="results-row">
<ul>
  {{#each cabinet as |ingredient|}}
  <li>{{ingredient.name}}</li>
  {{/each}}
  <button class="find-the-drinks" {{action "findByIngredient"}}>Find the Drinks</button>
</ul>
<ul>
  {{#each results as |drink|}}
  {{#link-to "index.recipe" drink class="drink-recipe-link" }}
    <div class="drink-frame">
      <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
      <p class="drink-frame__name">{{drink.name}}</p>
    </div>
  {{/link-to}}
  {{/each}}
</ul>
</div>
